/* to position h1 elements in each page */
#root {
    position: relative;
    min-width: 40em;
}

#root > h1 {
    opacity: 0;
}

.content h1 {
    position: absolute;
    left: 0;
    top: -.5em;
}

.content p {
    margin-top: 0;
}

.content {
    display: flex;
}

.link-container * {
    white-space: nowrap;
}

.link-container>* {
    margin: 0 12px;
}

.link-container nav {
    width: 12em;
    max-height: 30em;
    overflow: auto;
    padding: 0.5em .2em;
    margin: 0 1.5em 0 0;
    background: #f0f0f0;
}

.link-container nav a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: unset;
    opacity: 0.6;
}

.link-container summary {
    padding: .5em 1em;
    cursor: default;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 90%;
    background: #00a2ff29;
    border-radius: 1em 0 0 1em;
    opacity: 0.6;
}

.link-container summary:hover {
    opacity: 1;
    transition: opacity .5s;
}

.link-container details>a {
    padding-left: 1.5em;
}


.sim-cmp button.btn-run:hover,
.link-container nav a:hover,
.link-container nav a.active {
    background: #e0e0e0;
    opacity: 1;
    transition: opacity .5s;
}

.link-container>div {
    flex-grow: 1;
}

.sim-cmp button.btn-run {
    padding: .5em 1em;
    margin: 1em 0;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid #c0c0c0;
    background: #f0f0f0;
    font-size: 125%;
}

.sim-params label {
    display: block;
}

.sim-params label input {
    margin-left: 1em;
}

.sim-output ul.multi-column {
    column-width: 14em;
}

.sim-output .histograms {
    display: flex;
}

.ss-histogram {
    max-width: 30em;
}

.sim-output .error {
    background: #ffbbbb;
    color: darkred;
    font-weight: bold;
    padding: 1em;
}

/* crosswalk traffic light cycle parameters */
span.light {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .5);
    vertical-align: text-bottom;
    margin-right: .3em;
}

span.light.red {
    background: red;
}

span.light.yellow {
    background: orange;
}

span.light.green {
    background: green;
}

/* crosswalk SVG animation*/
svg.ss-anim {
    height: 300px;
    border: 2px solid black;
    padding: 12px;
}

svg.ss-anim g.light {
    fill: rgba(0, 0, 0, 0.1);
    stroke: rgba(0, 0, 0, 0.3);
    stroke-width: 2px;
}

svg.ss-anim g.light circle {
    opacity: 0.2;
}

svg.ss-anim g.light circle.red {
    fill: red;
}

svg.ss-anim g.light circle.yellow {
    fill: yellow;
}

svg.ss-anim g.light circle.green {
    fill: green;
}

svg.ss-anim .ss-queue {
    fill: orange;
    opacity: 0.3;
}

svg.ss-anim .street {
    fill: rgba(0, 0, 0, 0.1);
}

svg.ss-anim .crosswalk {
    fill: rgba(0, 0, 0, 0.3);
}